<h2>Test Page for Authenticated users</h2>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
<div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="10px" fxLayout.xs="column wrap">
  <app-shiba *ngFor="let dummy of ' '.repeat(10).split(''), let x = index"></app-shiba>
</div>
