<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <button matPrefix mat-icon-button type="button">
        <mat-icon>face</mat-icon>
      </button>
      <input matInput type="text" placeholder="First name" name="firstname" ngModel #firstNameInput="ngModel" required
        minlength="2">
      <mat-error *ngIf="firstNameInput.invalid">Please enter a first name!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <button matPrefix mat-icon-button type="button">
        <mat-icon>face</mat-icon>
      </button>
      <input matInput type="text" placeholder="Last name" name="lastname" ngModel #lastNameInput="ngModel" required
        minlength="2">
      <mat-error *ngIf="lastNameInput.invalid">Please enter a last name!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <button matPrefix mat-icon-button type="button">
        <mat-icon>email</mat-icon>
      </button>
      <input matInput type="email" placeholder="Email" name="email" ngModel #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <button matPrefix mat-icon-button type="button">
        <mat-icon>lock</mat-icon>
      </button>
      <input type="password" matInput placeholder="Password" name="password" ngModel #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="signupForm.invalid">Signup</button>
  </form>
</mat-card>
