<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a title!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker accept="image" (change)="onImagePick($event)">
    </div>
    <div class="img-preview" *ngIf="imgPreview !== '' && imgPreview && !form.get('image').invalid">
      <img [src]="imgPreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput formControlName="content" rows="4" placeholder="Post Content">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter some content!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Save post</button>
  </form>
</mat-card>
