<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.close()" routerLink="/home">home</a>
      <a mat-list-item (click)="drawer.close()" routerLink="/secure" *ngIf="userIsAuthenticated">Secure</a>
      <a mat-list-item (click)="drawer.close()" routerLink="/auth/signup" *ngIf="!userIsAuthenticated">Sign up</a>
      <a mat-list-item (click)="drawer.close()" routerLink="/auth/signin" *ngIf="!userIsAuthenticated">Sign in</a>
      <button mat-button (click)="onLogout(drawer)" *ngIf="userIsAuthenticated">Sign out</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">{{ title }}</span>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <!-- <a mat-button routerLink="/create" *ngIf="userIsAuthenticated">New Post</a> -->
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/secure"*ngIf="userIsAuthenticated" routerLinkActive="active">Secure</a>
        <a mat-button *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu">Posts</a>
        <a mat-button routerLink="/auth/signup" *ngIf="!userIsAuthenticated">Sign up</a>
        <a mat-button routerLink="/auth/signin" *ngIf="!userIsAuthenticated">Sign in</a>
        <button mat-button (click)="onLogout()" *ngIf="userIsAuthenticated">Sign out</button>
      </div>

      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/posts">Posts</a>
        <a mat-menu-item routerLink="/posts/create">New Post</a>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
