:host {
  display: block;
  margin-top: 1rem;
}

p.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
  text-align: center;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

mat-paginator {
  margin-top: 1rem;
}
